.btn {
    font-size: 14px;
    position: relative;
    overflow: visible;
    display: inline-block;
    /*padding: 0.5em 1em;*/
    padding: 6px 12px;
    border: 1px solid #d4d4d4;
    margin: 0;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0 #fff;
    font:11px/normal sans-serif;
    color: #333;
    white-space: nowrap;
    line-height: 1.42857143;
    cursor: pointer;
    outline: none;
    background-color: #ececec;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
    background-image: -moz-linear-gradient(#f4f4f4, #ececec);
    background-image: -ms-linear-gradient(#f4f4f4, #ececec);
    background-image: -o-linear-gradient(#f4f4f4, #ececec);
    background-image: linear-gradient(#f4f4f4, #ececec);
    -moz-background-clip: padding; /* for Firefox 3.6 */
    background-clip: padding-box;
    border-radius: 0.2em;
    zoom: 1;
    *display: inline;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
    border-color: #3072b3;
    border-bottom-color: #2a65a0;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    color: #fff;
    background-color: #3c8dde;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
    background-image: -moz-linear-gradient(#599bdc, #3072b3);
    background-image: -o-linear-gradient(#599bdc, #3072b3);
    background-image: linear-gradient(#599bdc, #3072b3);
}

.btn:active,
.btn.active {
    border-color: #2a65a0;
    border-bottom-color: #3884cd;
    background-color: #3072b3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3072b3), to(#599bdc));
    background-image: -moz-linear-gradient(#3072b3, #599bdc);
    background-image: -ms-linear-gradient(#3072b3, #599bdc);
    background-image: -o-linear-gradient(#3072b3, #599bdc);
    background-image: linear-gradient(#3072b3, #599bdc);
}

/*========================
Table
==========================*/
table {margin-top: 30px; margin-bottom: 30px; font-size: 12px; border-bottom: 1px solid #ccc}
table th {padding: 15px}
table td {padding: 10px}
table.dataTable.no-footer {border: none}
table.dataTable tfoot th, table.dataTable tfoot td {border:none}
table.dataTable thead th, table.dataTable thead td {border: none}
/*.table-bordered {padding: 30px}*/
.table-bordered .ui-state-default {padding-bottom: 15px; padding-top: 15px}
.dataTables_length {padding: 30px 30px 0 30px}
.dataTables_filter {padding: 30px 30px 0 30px}
.dataTables_info {padding: 30px 30px 0 30px}
.dataTables_paginate {padding: 30px 30px 30px 30px}
.paging_full_numbers {padding: 30px 30px 30px 30px}
.table-bordered thead {background: #DFDFDF; margin-bottom: 100px; box-shadow: inset 0px 2px 0px 0px #FFFFFF}
.table-with-btn{position: relative}
.table-bordered tbody tr:hover {background-color: #f0f0f0; border-left: 3px solid #50C14E}

.thumb-Empty{width: 100%; height: 160px; background-color: #d4d4d4}
.thumb-Empty i{display: block; margin: 0 auto; text-align: center; padding-top: 18%; font-size: 30px}
.hover-select {background-color: #f0f0f0; border-left: 3px solid #50C14E}
.btns-footer {background-color: #DFDFDF; height: 80px; padding-top: 18px; padding-left: 30px; padding-right: 30px}

.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus {
    z-index: 3; color: #fff; cursor: default; background-color: #50C14E; border-color: #50C14E;
}