/*
EasyStep
Author: @engirocha
Version: 1.0.0
*/


@import url("plugins/Bootstrap/bootstrap.min.css");
@import url("plugins/Datatables/datatables.css");
@import url("plugins/PNotify/pnotify.custom.min.css");
@import url("plugins/Swiper/horizon-swiper.min.css");
@import url("plugins/Swiper/horizon-theme.min.css");
@import url("css/lineicons.css");
@import url("plugins/DatePicker/bootstrap-datepicker3.css");
@import url("plugins/PrintJs/print.min.css");
@import url("plugins/jQueryUI/jquery-ui.min.css");

/* Theme EasyStep */
@import url("themes/interface.css");

/* Teclado */
@import url("css/jquery.ml-keyboard.css");

/* tag reservada para tradução do sistema */
.translate {
}

/*tags reservadas para auto-complete de busca de endereço*/
.autocomplete{

}

.street{

	
}
.number{

	
}
.district{

	
}
.city{

	
}
.initials{

	
}
.zip_code{

	
}
.state{

	
}
.country{

	
}
.place{

	
}