/*
EasyStep
Author: @engirocha
Version: 1.0.0
*/


@import url("plugins/Bootstrap/bootstrap.min.css");
@import url("plugins/Datatables/datatables.css");
@import url("plugins/PNotify/pnotify.custom.min.css");
@import url("plugins/Swiper/horizon-swiper.min.css");
@import url("plugins/Swiper/horizon-theme.min.css");
@import url("css/lineicons.css");
@import url("plugins/DatePicker/bootstrap-datepicker3.css");
@import url("plugins/PrintJs/print.min.css");
@import url("plugins/jQueryUI/jquery-ui.min.css");
@import url("plugins/mlkeyboard/jquery.ml-keyboard.css");

/* Theme EasyStep */
/*@import url("themes/interface.css");*/

/* Teclado */
/*@import url("css/jquery.ml-keyboard.css");*/

/* tag reservada para tradução do sistema */
.translate {
}

/*tags reservadas para auto-complete de busca de endereço*/
.autocomplete{

}

.street{

	
}
.number{

	
}
.district{

	
}
.city{

	
}
.initials{

	
}
.zip_code{

	
}
.state{

	
}
.country{

	
}
.place{

	
}

.modal-header {
	background: #4CD964;
	color: #fff;
	padding: 0;
    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
h4.modal-title {
	font-weight: normal;
}
input.form-control {
	background-color: #fff;
}
